index.js
a.json
node_modules
material-web
package-lock.json
__pycache__
.deployment
.vscode
.vercel
vercel.json
Pipfile
bin
lib
lib64
pyvenv.cfg
Flask-2.3.2.dist-info
Jinja2-3.1.2.dist-info
MarkupSafe-2.1.2.dist-info
Werkzeug-1.0.1.dist-info
Werkzeug-2.3.4.dist-info
beautifulsoup4-4.12.2.dist-info
blinker-1.6.2.dist-info
blinker
bs4-0.0.1.dist-info
bs4
certifi-2023.5.7.dist-info
certifi
charset_normalizer-3.1.0.dist-info
charset_normalizer
click-8.1.3.dist-info
click
flask
idna-3.4.dist-info
idna
index.py
itsdangerous-2.1.2.dist-info
itsdangerous
jinja2
markupsafe
requests-2.30.0.dist-info
requests
soupsieve-2.4.1.dist-info
soupsieve
urllib3-2.0.2.dist-info
urllib3
vc__handler__python.py
werkzeug
