<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/material.js"></script>
    <link rel="stylesheet" href="/static/css/theme.css">
    <link rel="stylesheet" href="/static/css/colors.module.css">
    <link rel="stylesheet" href="/static/css/tokens.css">
    <link rel="stylesheet" href="/static/css/typography.module.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/card.css">
    <link rel="stylesheet" href="/static/css/topappbar.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined" rel="stylesheet">
    <title>Homework List</title>
    <script>
        window.onload = function () {
            var topappbar = document.getElementById("topappbar");
            var avatar = document.getElementById("avatar");
            var viewIconButton = document.getElementById("viewIconButton");
        };

        function fixtopappbar() {
            if (window.scrollY > 0) {
                fixTopAppBar();
                fixAvatar()
                fixViewIcon()
            } else {
                unfixTopAppBar();
                unfixAvatar();
                unfixViewIcon();
            }
        };

        function fixTopAppBar() {
           topappbar.classList.add('topappbar__fixed')
        }

        function unfixTopAppBar() {
            topappbar.classList.remove('topappbar__fixed')
        }
        function fixAvatar() {
            avatar.style.margin = '8px 48px 8px 8px'
        }
        function unfixAvatar() {
            avatar.removeAttribute('style')
        }
        function fixViewIcon() {
            viewIcon.style.paddingRight = '20px'
        }
        function unfixViewIcon() {
            viewIcon.removeAttribute('style')
        }
        window.addEventListener('scroll', fixtopappbar);
    </script>
</head>

<body class="background" style="margin: 0px;">
    <div class="topappbar surface" id="topappbar" name="topappbar">
        <md-elevation style="--md-elevation-level: 2;"></md-elevation>
        <div class="topappbar__row" id="topappbarrow">
            <section class="topappbar__section topappbar__section--align-start">
                <md-standard-icon-button class="topappbar__navigation-icon" href="/">
                    <md-icon>arrow_back</md-icon>
                </md-standard-icon-button>
                <span class="topappbar__title title-large on-background-text">Homeworks</span>
            </section>
            <section class="topappbar__section topappbar__section--align-center">
            </section>
            <section class="topappbar__section topappbar__section--align-end" style="vertical-align: middle;">
                <md-standard-icon-button class="topappbar__action-item" id="viewIconButton" onclick="changeView()">
                    <md-icon id="viewIcon">table_view</md-icon>
                </md-standard-icon-button>
                {% if error %}
                <md-icon id="avatar" style="color: var(--md-sys-color-on-surface); vertical-align: middle;">account_circle</md-icon>
                {% else %}
                <img alt="Profile Photo" src="{{photoURL}}" id="avatar" class="topappbar__avatar topappbar__action-item">
                {% endif %}
                <md-focus-ring for="avatar"></md-focus-ring>
            </section>
        </div>
    </div>
    <script>
        function changeView() {
            var tablediv = document.getElementById("hwtable")
            var listdiv = document.getElementById("hwCardList")
            var viewIcon = document.getElementById("viewIcon")
            if (tablediv.hidden) {
                tablediv.hidden = false
                listdiv.hidden = true
                viewIcon.innerHTML = "view_list"
            } else {
                tablediv.hidden = true
                listdiv.hidden = false
                viewIcon.innerHTML = "table_view"
            }
        }
    </script>
    <style>
        .error-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: var(--md-sys-color-error-container);
        }

        .error-text {
            font-size: 64px;
            font-weight: 500;
            color: var(--md-sys-color-error-text);
            font-family: "Roboto";
            text-align: center;
        }
    </style>
    {% if error %}
    <div class="error-container">
        <h1 class="error-text">{{ error }}</h1>
    </div>
    {% else %}
    <div class="on-background-text" style="margin: 8px">
        <div id="body" class="body-medium">
            <md-data-table paginated=true style="border-radius: 28px" id="hwtable" hidden>
                <md-data-table-column filterable sortable sorted>Date</md-data-table-column>
                <md-data-table-column filterable sortable>Name</md-data-table-column>
                <md-data-table-column filterable sortable>Subject</md-data-table-column>
                <md-data-table-column filterable sortable>Description</md-data-table-column>
                <md-data-table-column filterable sortable>Deadline</md-data-table-column>
                <md-data-table-column filterable sortable>Attachments</md-data-table-column>
                {% for key in ids -%}
                <md-data-table-row>
                    <md-data-table-cell>{{homeworks[key]['date']}}</md-data-table-cell>
                    <md-data-table-cell>{{homeworks[key]['subject']}}</md-data-table-cell>
                    <md-data-table-cell>{{homeworks[key]['name']}}</md-data-table-cell>
                    <md-data-table-cell>{{homeworks[key]['description']}}</md-data-table-cell>
                    <md-data-table-cell>{{homeworks[key]['deadline']}}</md-data-table-cell>
                    <md-data-table-cell>
                        {% for name,url in homeworks[key]['attachments'].items() %}
                        <a class="primary-text" href={{url}}>{{name}}</a>
                        {% endfor %}
                    </md-data-table-cell>
                </md-data-table-row>
                {% endfor %}
            </md-data-table>
            <div id="hwCardList">
                {% for key in ids -%}
                <md-outlined-card class="card" style="width: 100%;">
                    <md-elevation style="--md-elevation-level: 5;"></md-elevation>
                    <div class="card__header">
                        <div class="card__header-text">
                            <div class="card__title">{{homeworks[key]['name']}}</div>
                            <div class="card__subtitle"><b>Date: </b>{{homeworks[key]['date']}}</div>
                        </div>
                    </div>
                    <div class="card__secondary body-medium" onload="addNewLines(this)">
                        <b>Deadline: </b>{{homeworks[key]['deadline']}}
                        <br>
                        <b>Subject: </b>{{homeworks[key]['subject']}}
                        <br>
                        <b>Description: </b>{{homeworks[key]['description'] | replace('\n','<br>') | safe}}
                        <br>
                        <b>Attachments: </b>
                        {% for name,url in homeworks[key]['attachments'].items() %}
                        <a class="primary-text" href={{url}}>{{name}}</a>
                        <br>
                        {% endfor %}
                    </div>
                </md-outlined-card>
                <br>
                <br>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</body>

</html>