<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/material.js"></script>
    <link rel="stylesheet" href="/static/css/theme.css">
    <link rel="stylesheet" href="/static/css/colors.module.css">
    <link rel="stylesheet" href="/static/css/tokens.css">
    <link rel="stylesheet" href="/static/css/typography.module.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/topappbar.css">
    <link rel="stylesheet" href="/static/css/card.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined" rel="stylesheet">
    <title>KEdunext</title>
    <script>
        window.onload = function () {
            var topappbar = document.getElementById("topappbar");
            var avatar = document.getElementById("avatar");
            fixtopappbar()
        };
        function fixtopappbar() {
            if (window.scrollY > 0) {
                fixTopAppBar()
                fixAvatar()
            } else {
                resetTopAppBar()
                resetAvatar()
            }
        };

        function fixTopAppBar() {            
            topappbar.classList.add('topappbar__fixed')
        }
        function fixToolbarAbDivider() {
            tAbDivider.style.position = 'fixed'
            tAbDivider.style.top = '56px'
            tAbDivider.style.zIndex = 100000
            tAbDivider.style.width = '100%'
        }
        function fixAvatar() {
            avatar.style.position='fixed'
            avatar.style.right='16px'
            avatar.style.zIndex=100000
        }

        function resetTopAppBar() {
            topappbar.style.position = 'static'
            topappbar.removeAttribute('style')
            topappbar.classList.remove('topappbar__fixed')
        }

        function resetToolbarAbDivider() {
            tAbDivider.style.position = 'static'
            tAbDivider.removeAttribute('style')
        }

        function resetAvatar() {
            avatar.style.position='static'
            avatar.removeAttribute('style')
        }
        window.addEventListener('scroll', fixtopappbar);
    </script>
</head>

<body class="background" style="margin: 0px;">
    <style>
        .avatar {
            vertical-align: auto;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .pinned {
            position: relative;
            z-index: 1;
        }
    </style>
    <div class="topappbar surface" id="topappbar" name="topappbar">
        <!-- <md-elevation style="--md-elevation-level: 2;"></md-elevation> -->
        <div class="topappbar__row">
            <section class="topappbar__section topappbar__section--align-start">
                <span class="topappbar__title title-large on-background-text">KEdunext</span>
            </section>
            <section class="topappbar__section topappbar__section--align-center">
            </section>
            <section class="topappbar__section topappbar__section--align-end">
                {% if error %}
                <md-icon id="avatar" style="color: var(--md-sys-color-on-surface); vertical-align: middle;" class="on-surface-text">account_circle</md-icon>
                {% else %}
                <img alt="Profile Photo" src="{{photoURL}}" id="avatar" class="topappbar__avatar">
                {% endif %}
                <md-focus-ring for="avatar"></md-focus-ring>
            </section>
        </div>
    </div>
    <style>
        .error-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: var(--md-sys-color-error-container);
        }
        .error-text {
            font-size: 64px;
            font-weight: 500;
            color: var(--md-sys-color-error-text);
            font-family: "Roboto";
            text-align: center;
        }
    </style>
    {% if error %}
    <div class="error-container">
        <h1 class="error-text">{{ error }}</h1>
    </div>
    {% else %}
    <div class="on-background-text content" style="margin: 8px;">
        <md-outlined-card class="card" style="box-sizing: border-box; width: 100%;">
            <div class="card__header">
                <div class="card-thumbnail">
                    <md-icon slot="thumbnail" class="card__thumbnail-image">book</md-icon>
                </div>
                <div class="card__header-text">
                    <div class="card__title">Homeworks</div>
                    <div class="card__subtitle">Check out the homework list!</div>
                </div>
            </div>
            <div class="card__secondary body-medium" style="box-sizing: border-box; max-width: 100%; overflow: scroll; overflow-x: auto; overflow-y: auto;">
                Recent homeworks:
                <br>
                <md-data-table>
                    <md-data-table-column>Name</md-data-table-column>
                    <md-data-table-column>Deadline</md-data-table-column>
                    {% for key in ids -%}
                    {% if loop.index <= 2 %} <md-data-table-row>
                        <md-data-table-cell>{{homeworks[key]['name']}}</md-data-table-cell>
                        <md-data-table-cell>{{homeworks[key]['deadline']}}</md-data-table-cell>
                        </md-data-table-row>
                        {% endif %}
                        {% endfor %}
                </md-data-table>
            </div>
            <md-tonal-button slot="button" onclick="document.location.href='/homeworks'">Open<md-icon
                    slot="icon">open_in_new</md-icon></md-tonal-button>
            <md-standard-icon-button slot="icon" toggle>
                <md-icon>push_pin</md-icon>
                <md-icon slot="selectedIcon" class="on-primary">push_pin</md-icon>
            </md-standard-icon-button>
        </md-outlined-card>
        <br>
        <br>
        <md-outlined-card class="card" style="box-sizing: border-box; width: 100%;">
            <div class="card__header">
                <div class="card-thumbnail">
                    <md-icon slot="thumbnail" class="card__thumbnail-image">newspaper</md-icon>
                </div>
                <div class="card__header-text">
                    <div class="card__title">Circulars</div>
                    <div class="card__subtitle">Check out the circulars!</div>
                </div>
            </div>
            <div class="card__secondary body-medium" style="box-sizing: border-box; max-width: 100%; overflow: scroll; overflow-x: auto; overflow-y: auto;">
            Recent circulars:
                <br>
                <md-data-table>
                    <md-data-table-column>Name</md-data-table-column>
                    <md-data-table-column>Files</md-data-table-column>
                    {% for key in circularids -%}
                    {% if loop.index <= 2 %} <md-data-table-row>
                        <md-data-table-cell style="text-overflow: ellipsis">{{key}}</md-data-table-cell>
                        <md-data-table-cell style="text-overflow: ellipsis">
                            {% for name,url in circulars[key]['attachments'].items() %}
                            <a class="primary-text" href={{url}} id={{name}}>{{name}}</a>
                            <md-focus-ring for={{name}}></md-focus-ring>
                            {% endfor %}
                        </md-data-table-cell>
                        </md-data-table-row>
                        {% endif %}
                        {% endfor %}
                </md-data-table>
            </div>
            <md-tonal-button slot="button" onclick="document.location.href='/circulars'">Open<md-icon
                    slot="icon">open_in_new</md-icon></md-tonal-button>
            <md-standard-icon-button slot="icon" toggle>
                <md-icon>push_pin</md-icon>
                <md-icon slot="selectedIcon" class="on-primary">push_pin</md-icon>
            </md-standard-icon-button>
        </md-outlined-card>
    </div>
    {% endif %}
</body>

</html>
