<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/material.js"></script>
    <link rel="stylesheet" href="/static/css/theme.css">
    <link rel="stylesheet" href="/static/css/colors.module.css">
    <link rel="stylesheet" href="/static/css/tokens.css">
    <link rel="stylesheet" href="/static/css/typography.module.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined" rel="stylesheet">
    <title>KEdunext</title>
</head>
<body class="background">
    <style>
        .avatar {
            vertical-align:auto;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            .pinned {
                position: relative;
                z-index: 1;
            }
        }
    </style>
    <div class="on-background-text">
        <md-outlined-card class="homework-card" clickable="true" onclick="document.location.href='/homeworks'">
            <div class="homework-card__header">
                <div class="homework-card__header-text">
                    <div class="homework-card__title headline-large">Homework</div>
                    <div class="homework-card__subtitle">Check your homework list!</div>
                </div>
            </div>
            <div class="homework-card__secondary mdc-typography mdc-typography--body2">
                Recent Homeworks:
                <br>
                <md-data-table>
                    <md-data-table-column filterable sortable>Subject</md-data-table-column>
                    <md-data-table-column filterable sortable>Name</md-data-table-column>
                    <md-data-table-column filterable sortable>Deadline</md-data-table-column>
                    {% for key in ids -%}
                        {% if loop.index <= 5 %}
                            <md-data-table-row>
                                <md-data-table-cell>{{homeworks[key]['subject']}}</md-data-table-cell>
                                <md-data-table-cell>{{homeworks[key]['name']}}</md-data-table-cell>
                                <md-data-table-cell>{{homeworks[key]['deadline']}}</md-data-table-cell>
                            </md-data-table-row>
                        {% endif %}
                    {% endfor %}
                </md-data-table>
            </div>
            <md-outlined-button slot="button">Read</md-outlined-button>
            <md-filled-button slot="button">Bookmark</md-filled-button>
            <md-standard-icon-button slot="icon">
                <md-icon>push_pin</md-icon>
            </md-standard-icon-button>
            <md-standard-icon-button slot="icon">
                <md-icon>hide</md-icon>
            </md-standard-icon-button>
        </md-outlined-card>
    </div>
</body>
</html>